{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1 class="text-6xl font-bold text-center animate-fade-down mt-4">MeloNX</h1>
    <h1 class="text-2xl font-bold text-center text-neutral-content animate-fade-down animate-delay-200">The most advanced NX emulator iOS</h1>

    <div class="bg-base-100/5 border-2 border-white/5 rounded-2xl shadow-lg p-4 animate-fade-down animate-delay-700 my-4">
        <h1 class="text-3xl font-semibold text-center">Gameplay</h1>

        
        <div>
            <div class="flex flex-row space-x-10 items-center justify-center">
                <div>
                    <h1 class="text-xl font-bold text-center text-neutral-content">Mario Kart 8 Deluxe</h1>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/z51S1m7FfOk?si=TWtJzBsBS0n9oQQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="rounded-2xl"></iframe>
                </div>

                <div>
                    <h1 class="text-xl font-bold text-center text-neutral-content">The Legend Of Zelda: Breath of the Wild</h1>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EaGCIDuKyi4?si=5C6E8pPMUYXIN69i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="rounded-2xl"></iframe>
                </div>
            </div>

            <div class="flex flex-row space-x-10 items-center justify-center mt-4">
                <div>
                    <h1 class="text-xl font-bold text-center text-neutral-content">The Legend Of Zelda: Tears of the Kingdom</h1>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sQoaQPQzi6c?si=_0bxtvm2TQYhbQNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="rounded-2xl"></iframe>
                </div>
                <div>
                    <h1 class="text-xl font-bold text-center text-neutral-content">Super Mario 3D World</h1>
                    <iframe width="560" height="315" src="https://youtube.com/embed/hkC-f8ibwww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="rounded-2xl"></iframe>
                </div>
            </div>
        </div>

        <a role="button" class="btn bg-base-100/15 border-white/15 hover:bg-base-100/30 hover:border-white/30 mt-4 w-full" href="{% url 'compatibility:home' %}"><h1 class="text-bold text-xl">View Compatibility</h1></a>
    </div>
{% endblock content %}
