{% load custom_filters %}
<div class="flex flex-row items-center bg-base-200 bg-opacity-15 border-2 border-white/5 rounded-2xl shadow-lg p-4">
    <a href="https://tinfoil.io/Title/{{ game_entry.game_id }}" target="_blank" class="flex flex-row mr-1.5 text-neutral-content hover:text-blue-600">
        <h1 class="text-xs underline">({{ game_entry.game_id }})</h1>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z" />
            <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z" />
        </svg>
    </a> 

    <h1 class="text-xl font-bold text-center">{{ game_entry.name }}</h1>

    <span class="badge dark:text-white mx-1.5 {{ game_entry.compatibility|compatibility_color }}">
        {{ game_entry.compatibility }}
    </span>

    <span class="badge dark:text-white mx-1.5 {{ game_entry.device_memory|ram_color }}">
        {{ game_entry.device_memory }}
    </span>

    <div class="ml-auto flex space-x-1.5">
        <span class="badge badge-info dark:text-white mx-1.5">#{{ game_entry.entry}}</span>
        <span class="badge badge-info dark:text-white mx-1.5">{{ game_entry.created_at }}</span>
    </div>
</div>